/* GENERAL */

div {
	/* TODO current workaround for layout issues: force that scrollbars are displayed when necessary */
	/* overflow: visible ! important; disabled because it renders the splitlayoutpanel unusable */ 
}

body {
	/* use gray background color to increase the difference between blue tabs and the background */
	background-color: #F4F2F2 ! important;
/*	margin: 10px ! important; */
}

.loading_panel {
	color: #002fff;
	font-size: smaller;
	margin-left: 10px;
}

.error {
	color: red;
	font-weight: bold;	
}

.with_margin {
	/*margin: 10px;*/
}

.tab_layout {
	top: 75px;
	position: absolute;
	left: 0px;
	height: 100%;
	width: 100%;
}

.content {
/* disabling this makes all listviews transparent i.e. the background image is shown */
/*	background-color: #ececec;*/
}

.tool_bar {
	background: url("/images/preface-wrapper-bg.png") repeat-x scroll center top #000000;
	padding: 10px 3px;
	height: 30px;	
}

.search_field {
	float: left;
	color: white;
	font-weight: bold;
}

.search_buttons {
	/* float: right;  */ /* for now put search buttons next to search field */
	margin-right: 3px;
}

.dashboard {
	padding: 0px !important;	
}

/* HEADER */

.honey_header {
	/*margin: 10px;	
	width: 98%;*/
	color: white;
	background: url('/images/header-bg.jpg') repeat-x;
	height: 100px;
	position: absolute;
	width: 100%;
	top: 0px; 
	left: 0px;
}

.honey_header_left {
	float: left;
	padding-top: 10px;
	width: 600px;
	font-weight: bold;	
}

.honey_header_right {
	float: right;
}

.create_button {
	margin-right: 5px ! important;	
	font-weight: normal ! important;
}

.create_button a,
.module_buttons a {
	color: white;
	text-decoration: none;
}

.create_button a:hover,
.create_button a:visited,
.module_buttons a:hover,
.module_buttons a:visited {
	color: #FFa700;
}

.header a {
	color: white;	
}

.header_logo {
	float: left;
	margin-left: 10px;
}

.loadIndicator {
	float: right; 
	font-weight: bold; 
	text-align: center;
	margin-right: 10px;
}

.header_links {
	margin-right: 30px;
}

.header_link {
	float: right;
	padding-left: 5px;
}

.header_link a {
	/*color: #154B70;*/
	color: #000;
	text-decoration: none;
}

.header_search {
	margin-left: 10px;
    background: #dee2e7 url('/images/bg-search.gif') repeat-x;
  	border: 1px solid #555;
  	padding: 8px;
  	position: relative;
  	top: 0;
  	width: 368px;
  	-moz-border-radius-bottomleft: 12px;
  	-moz-border-radius-bottomright: 12px;
  	-webkit-border-bottom-left-radius: 10px;
  	-webkit-border-bottom-right-radius: 10px; 
}

input.header_search_input {
	  background: #fff;
	  border: 1px solid #777;
	  color: #000;
	  cursor: pointer; 
	  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
	  font-size: 1em;
	  font-weight: normal;
	  padding: 1px 3px 1px;
	  outline: none;
	  text-transform: none;
	  -moz-border-radius: 0;
	  -moz-outline-radius: 0;
	  -webkit-border-radius: 0;	
}

.background_container {
	border: 1px solid #ececec;
	background-color: white;
	margin: 10px;
	padding: 10px;
	width: 610px;	
}

.wide_search_field {
	width: 360px; /* make this very big to assure it dominates the ui: users should encouraged to use this a lot */
}

.module_search {
	float: left;
	margin-right: 5px;
}	
	
.header_search_label {
	float: left;
	margin-right: 5px;
}

.header_search_field {
	float: left;
}

.welcome_user {
	float: right;
	margin-right: 10px;	
}

.right {
	float: right;
}

.gwt-TabPanelBottom {
	padding: 0px ! important; 
}

/* everything that should be aligned to the left */
.left {
	float: left;
}

.left_margin_small {
	margin-left: 5px;
}

.left_margin_big {
	margin-left: 30px;
}

/* VIEWS */

.content_container {
	background: url("/images/content-gradient.png") repeat-x scroll 0 1px transparent;	
}

.detail_view {
	float: left;
	height: 100%;
	padding: 5px;
	border-left: 5px solid white;
}

.detail_view_label {
/*	font-weight: bold;*/
	/*font-style: italic;
	text-align: right;*/
	margin-right: 10px;
}

.detail_view_value {
	margin-right: 15px;	
	font-style: italic;
}

.detail_view_content {
	padding: 5px;
	width: 100%;
}

.view_header_label {
	font-size: small;
	background-color: #d0e4f6;
	width: 99%;
	border-bottom: 1px solid #92c1f0;
	height: 19px;
	padding: 3px;
}

.relationship_title {
	font-weight: bold;	
	padding-top: 2px;
}
	

.detail_view_relation {
}

.list_view {
	padding: 5px;
}

.under_list_panel {
	width: 100%;	
	margin-top: 5px;
}

.list_pagination_label {
	padding: 3px 10px 0;	
}

.actions {
	width: 30%;
	float: left;
	padding: 5px;
}

.horizontal_seperator {
	background-color: white;
	width: 5px;
	height: 100%;
	float: left;
}

/* TABLE LAYOUT */

.list_table {
}

.list_table td{
	padding: 3px;
}

.table_header {
	background-color: #d0e4f6;
	border-bottom: 1px solid blue;
}

.table_header td {
	border-bottom: 1px solid #92c1f0;
}

.table_row td {
	border-bottom: 1px dotted #92c1f0;
	cursor: pointer;
}

tr.table_row.selected { 
	/*background-color: #92c1f0;*/
	background-color: #1189FF;	
	color: white;
}

tr.table_row:hover {
	background-color: #92c1f0;	
}

tr.table_row:active {
	background-color: #92c1f0;	
}

/* MISC */

.full_width {
	width: 100%;
}

.clear {
	clear: both;
}

.gwt-HTML ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.tab_panel {
	padding: 0px;
}

tr {
	vertical-align: top;
}

/* Overwrite some of GWTs settings */

.honey .gwt-Button {
  background: transparent url('/images/blue-button.png') no-repeat left center ! important;
  border: 1px solid #fff ! important;
  color: #fff ! important;
  /*color: #4B4A4A;*/
  cursor: pointer ! important;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif ! important;
  font-size: 0.916em ! important;
  font-weight: bold ! important;
  margin: 0 4px ! important;
  padding: 2px 4px ! important;
  text-transform: uppercase ! important;
  outline: 1px solid #9BABB0 ! important;
  -moz-border-radius: 4px ! important;
  -moz-outline-radius: 4px ! important;
  -webkit-border-radius: 4px ! important;
}

.gwt-TabLayoutPanelContent {
	/* This makes sure the dashboard page does not have too much padding around its tool bar. */
	padding: 0px ! important; 
}

.honey .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 3px 6px;
  cursor: hand;
  color: #145B70;
  font-weight: bold;
  text-align: center;
  /*background: #d0e4f6;*/
  background: url('/images/tab-right.png') no-repeat scroll left 0px transparent;
}
.honey .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  /*background: #92c1f0;*/
  color: white;
  background: url('/images/tab-right.png') no-repeat scroll left -29px transparent;
}

.gwt-TabLayoutPanelTabInner {
  /*background: url('/images/tab-right.png') no-repeat scroll right -29px transparent;
  padding: 6px 10px 3px 8px;*/
}

