/* GENERAL */

body {
	background-color: #1189FF ! important;	
}

.body {
	margin-right: 10px;
	margin-left: 10px;
}

.tab_layout {
	width: 100%;
}

.tab_content {
	background-color: #ececec;
}

/* HEADER */

.header {
	margin: 10px;	
	color: white;
}

.header a {
	color: white;	
}

.header_logo {
	float: left;
	width: 40%;
}

.loadIndicator {
	float: left;
	width: 20%; 
	font-weight: bold; 
	text-align: center;
}

.header_links {
	float: right;
	width: 40%;	
}

.header_link {
	float: right;
	padding-left: 5px;
}

.header_search {
	float: right;
	margin-left: 10px;	
}

.header_search_label {
	float: left;
	margin-right: 5px;
}

.header_search_field {
	float: left;
	width: 300px;
}

/* VIEWS */

.detail_view {
/*	width: 60%; /* force width of detail view smaller to avoid current wrapping bug */
	float: left;
	height: 100%;
	padding: 5px;
	border-left: 5px solid white;
}

.detail_view_content {
	padding-bottom: 5px;
	width: 100%;
}

.detail_view_buttons {
	float: right;	
}

.view_header_label {
	font-size: small;
	font-weight: bold;	
	background-color: #d0e4f6;
	width: 100%;
	margin-bottom: 5px;
}

.detail_view_relation {
	border-top: 1px solid #92c1f0; 
	padding-top: 2px;
}

.list_view {
	width: 30%;
	float: left;
	padding: 5px;
}

.under_list_panel {
	width: 100%;	
}

.list_pagination_label {
	padding: 3px 10px 0;	
}

.actions {
	width: 30%;
	float: left;
	padding: 5px;
}

.horizontal_seperator {
	background-color: white;
	width: 5px;
	height: 100%;
	float: left;
}

/* TABLE LAYOUT */

.list_table {
}

.list_table td{
	padding: 5px;
}

.table_header {
	background-color: #d0e4f6;
	border-bottom: 1px solid blue;
}

.table_header td {
	border-bottom: 1px solid #92c1f0;
}

.table_row td {
	border-bottom: 1px dotted #92c1f0;
	cursor: pointer;
}

tr.table_row.selected { 
	/*background-color: #92c1f0;*/
	background-color: #1189FF;	
	color: white;
}

tr.table_row:hover {
	background-color: #92c1f0;	
}

tr.table_row:active {
	background-color: #92c1f0;	
}

/* MISC */

.full_width {
	width: 100%;
}

.clear {
	clear: both;
}
